
/* BASIC */
 
html {
    background-color: #56baed;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url('src/imgs/hotel.jpg');
    background-size: cover;
    position: fixed;
    width: 100%;
    /* opacity: 50%; */
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
  h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #cccccc;
  }
  
  .adminForm{
    margin-right: 30%;
    margin-left: 30%;
  }
  
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  
  
  /* TABS */
  
  h2.inactive {
    color: #cccccc;
  }
  
  h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
  }
  
  
  *:focus {
      outline: none;
  } 
  
  #icon {
    width:30%;
  }
  /* Material!!!!! */
  .example-container .mat-form-field +.mat-form-field{
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  } 
   
  /* input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }  */
  
   input.example-right-align {
    -moz-appearance: textfield;
  }
  
 
/*michal addes ;)*/
.login-form{
  text-align:left;
  width: 300px;
  height: 100%;
  background-color: ghostwhite;
  opacity: 0.95;
  position: fixed;
  left: 5%;
}

h1 {
  font-size: 250%;
  font-weight: 600;
  /* color: #cccccc; */
  color: rgb(141,194, 249);
  margin: 0 20% 8% 20%; 
  /* font-family: 'Lucida Handwriting'; */
}

.login-form-text{
  text-align: center;
  opacity:100%;
  /* align-items: center; */
}

.user-icon{
  font-size: 600%;
  margin: 30% 50% 5px 28%; 
  color: rgb(141,194, 249);
 
  /* color: #cccccc; */
}
.mail-icon{
  font-size: 50%;
  text-align: left;
  position: fixed;
}

.mat-form-field{
 width: 50%;
}

button{
  padding: 5% 20%;
  font-size: 100%;
  background-color:rgba(0,0,0,0);
  border: none;
  color: rgb(141,194, 249);
  font-size: 250%;
  font-weight: 600;
  font-family: 'Lucida Handwriting';
}

button:disabled{
  color: rgb(213,243, 253);
}
