<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>admin</title>
</head>
<body>
  <br>
  <div class="admin-form" >
 <form [formGroup]="adminForm" >
   <div class="admin-form-text">
     <br>
  <div>
  <mat-form-field appearance="fill">
    <mat-label>Enter your Email address</mat-label>
    <input matInput type="text"  [disabled]="true" id="userName" formControlName="name" >
    <mat-icon matSuffix > mail</mat-icon>     
  </mat-form-field>
</div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Enter your Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password" >
      <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
  <button [disabled]="!adminForm.valid" (click)="addNewAdmin()" *ngIf="toAddNewAdmin">הרשם</button>
  
  <button [disabled]="!adminForm.valid" (click)="updateAdmin()" *ngIf="!toAddNewAdmin">עדכן פרטים</button>
</div>
</form>
</div>
</body>
</html>

