
body{
    background-size: cover;
    position: fixed;
    width: 100%;
}



/* classes */


.mat-icon{
    font-size: 150%;
    color: white;
}

ul {
  z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
  

  li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: #000;
  }
  
  .active {
    background-color: rgb(141,194, 249);
  } 
  .left-element{
    float: left;
    }
    li button {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    li button:hover:not(.active) {
      color: #000;
    }