
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Document</title>
</head>
<body>

<div dir="rtl">
  <mat-form-field appearance="standard">
    <mat-label><mat-icon>search</mat-icon> חיפוש </mat-label >
    <input matInput (keyup)="applyFilter($event)" placeholder="הכנס שם לקוח " #input>
  </mat-form-field>
</div>
  <div class="mat-elevation-z8 demo-table">
    <table mat-table [dataSource]="dataSource"  matSort >
    <!-- (matSortChange)="announceSortChange($event)" -->

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header > First Name</th>
      <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
    </ng-container>

    <!-- EmailAddress Column -->
    <ng-container matColumnDef="emailAddress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> EmailAddress </th>
      <td mat-cell *matCellDef="let row"> {{row.emailAddress}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let row"> {{row.address}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="phoneNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PhoneNumber </th>
      <td mat-cell *matCellDef="let row"> {{row.phoneNumber}} </td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"(dblclick)="getCustomerDetails(row.id)"></tr>
  
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
</body>
</html>


 
