.card-default {
    color: #333;
    background: linear-gradient(#fff,#ebebeb) repeat scroll 0 0 transparent;
    font-weight: 600;
    border-radius: 6px;
}

/* .mat-icon{
    font-size: 200%;
} */

.mat-form-field{
    background-color: white;
    
}

.form-card{
    width: 60%;
    position: relative;
    right: 20%;
}

.name-filed{
    width:52%;
    margin-left: 2%;
}

.dates{
    width: 40%;
}

.num-of-people{
    width:50px ;
    margin: left 2%;
    margin-right: 0%; 
}

table{
    width: 100%;
    margin-right: 0%;
    text-align: right;
}

.title{
    text-align: center;
    margin-top: 3%;
}

.example-button-row{
    width: 5px;
    margin: left 10%;
    margin-right: 65%;
  }

  .mat-stroked-button{
text-align: center;
width: 135px;
height: 15%;
margin-left: 2%;
  }

  .svg{
      margin-left: 2%;
  }

  .btn {
    font-size: 1vw;
    margin-right: 2%;
}
.example-form-field {
    margin-right: 20px;
  }

  .hotel{
      width: 46%;
      /* margin-left: 2%; */
  }

  .price{
      width: 40%;
      margin-left: 2%;
  }

  .comments{
      width: 100%;
  }

  .status{
      margin-right: 2%;
  }

  .time{
      width:28%;
      margin-right:2%;
  }
  .bookingId{
    width: 60%;
    margin-right: 2%;
    margin-right: 2%;
  }