<div dir="rtl">
  <h4 class="title">חיפוש הזמנה לפי פרמטרים:</h4>
</div>
  <form [formGroup]="paramsForm" class="searchParams" dir="rtl">
<mat-form-field appearance="fill" class="searchInput">
  <mat-label> לקוח </mat-label>
  <input matInput formControlName="customerName" placeholder="חיפוש לפי שם לקוח" #input>
</mat-form-field>
<mat-form-field appearance="fill"  class="searchInput">
  <mat-label>מלון</mat-label>
  <input matInput formControlName="hotelName" placeholder="חיפוש לפי שם מלון" #input>
</mat-form-field>
<mat-form-field appearance="fill" class="searchInput">
  <mat-label>תאריכים</mat-label>
  <mat-date-range-input [rangePicker]="rangePicker">
    <input matStartDate formControlName="startDate" placeholder="מתאריך">
    <input matEndDate formControlName="endDate" placeholder="עד לתאריך">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #rangePicker>
  </mat-date-range-picker>
</mat-form-field>
<div>
<button mat-fab class="searchButton" (click)="findOrdersByParams()"><mat-icon>search</mat-icon></button>
<button mat-fab class="searchButton" (click)="resetSearchParams()"><mat-icon>delete_outline</mat-icon></button>
</div>
<!-- 
<mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
</form>
<div class="mat-elevation-z8 demo-table">
    <table mat-table [dataSource]="dataSource"  matSort >
  
      <!-- FirstName Column -->
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name</th>
        <!-- sortActionDescription="Sort by firstname" -->
        <td mat-cell *matCellDef="let row"> {{row.customerName}} </td>
      </ng-container>

      <!-- FirstName Column -->
      <ng-container matColumnDef="checkInDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header > Check In Date</th>
        <!-- sortActionDescription="Sort by firstname" -->
        <td mat-cell *matCellDef="let element"> {{element.checkInDate}} </td>
      </ng-container>
  
      <!-- LastName Column -->
      <ng-container matColumnDef="checkOutDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> check Out Date </th>
        <td mat-cell *matCellDef="let row"> {{row.checkOutDate}} </td>
      </ng-container>
  
      <!-- EmailAddress Column -->
      <ng-container matColumnDef="totalPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="costPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Price</th>
        <td mat-cell *matCellDef="let row"> {{row.costPrice}} </td>
      </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="numOfAdults">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num Of Adults </th>
        <td mat-cell *matCellDef="let row"> {{row.numOfAdults}} </td>
      </ng-container>

      <ng-container matColumnDef="numOfKids">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Num Of Kids </th>
        <td mat-cell *matCellDef="let row"> {{row.numOfKids}} </td>
      </ng-container>

      <ng-container matColumnDef="hotelName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Hotel Name </th>
        <td mat-cell *matCellDef="let row"> {{row.hotelName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"(dblclick)="getOrderDetails(row.id)"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
<!--       
    <mat-paginator  #paginator
    [length]="length"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (page)="pageEvent = getTheLastOrders($event)"></mat-paginator> -->
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
  </mat-paginator>

  
</div>