 <ul class="list-group">
    <li class="list-group-item"
    *ngFor="let customer of customers">
         <div class="row" (dblclick)="getCustomerDetails(customer.id)">
            <div class="col-1">
                {{customer.firstName}}
            </div>
            <div class="col-1">
                {{customer.lastName}}
            </div>
            <div class="col-1">
                {{customer.emailAddress}}
            </div>
            <div class="col-1">
                {{customer.address}}
            </div>
            <div class="col-1">
                {{customer.phoneNumber}}
            </div>
        </div>
</li>
</ul>

 <button (click)="getAllCustomers()">Get All Customer</button>
<button (dblclick)="getCustomerDetails(22)">Get All Customer Details</button>
<button mat-raised-button color="primary">Primary</button> 

