.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    /* color:#000000 */
  }

.profit{
background-color: rgb(224, 203, 208);
margin-right: 20%;
margin-left: 20%;
text-align: center; 
 }
  