
/* classes */
.tabs{
    text-align: left;
    background-color: white;
    /* color: rgb(141,194, 249); */
    width: 100%;
    height: 10%;
    position:fixed;
    top: 4%;
    opacity: 0.5;
}

.router-outlet-component{
    background-color: white;
    opacity: 0.9;
    /* width: 90%; */
    height: 80%;
    position: fixed;
    top:18%;
    left:5%;
    right: 5%;
}
