<!-- <!DOCTYPE html>
<html lang="en">
<head>
 <title>Document</title>
</head>
 <body>
    <div class="tabs">
      <button><a routerLink="/calendar" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></button>
      <button><a routerLink="/customer" routerLinkActive="active">Customers</a></button>
      <button><a routerLink="/customer/NewCustomer" routerLinkActive="active">New Customer</a></button>
    </div>
    <div class="router-outlet-component">
      <router-outlet></router-outlet>
    </div>
</body>
</html> -->

<!-- 
<mat-icon>account_circle</mat-icon>  
<br>
<mat-icon> person_pin</mat-icon>
<br>
<mat-icon>menu</mat-icon>
<br>
<mat-icon>event_note</mat-icon>
<br>
<mat-icon>add_alert</mat-icon>
<br>
<mat-icon>group_add</mat-icon>
<br>
<mat-icon>notifications</mat-icon>
<mat-icon>notifications_off</mat-icon>
<mat-icon>person_add</mat-icon>
<mat-icon>delete_sweep</mat-icon>	
<mat-icon>create</mat-icon>
<mat-icon> mail_outline</mat-icon>
<mat-icon> message</mat-icon>
<mat-icon>today</mat-icon>
<mat-icon>search</mat-icon>
<mat-icon>home</mat-icon>
<mat-icon>calendar_today</mat-icon>
<br>
<br>
<br>
<i class="bi bi-table"></i>
<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu> -->
