<!DOCTYPE html>
<html lang="en">
<head>
 <title>Document</title>
</head>
<body>
    <div class="tabs">
      <button><a routerLink="/calendar" routerLinkActive="active"><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon></a></button>
      <button><a routerLink="/customer" routerLinkActive="active">Customers</a></button>
      <button><a routerLink="/customer/NewCustomer" routerLinkActive="active">New Customer</a></button>
    </div>
    <div class="router-outlet-component">
      <router-outlet></router-outlet>
    </div>
</body>
</html>


